 <ion-view view-title="Form">
        <ion-content class="padding">

        <h3> Welcome to Pragnya's Health Care!! </h3>
         <!--  <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p> -->

<input value="" type="text" placeholder="Sugar Level" ng-model="itemAmount">
      <input value="" type="text" placeholder="Blood Pressure" ng-model="itemName">
      <input value ="" type ="text" placeholder="Fat Accumalation" ng-model="hospitalname">

 <input value ="" type ="text" placeholder="Blood Cell Count" ng-model="hospitalname">


 <button class="button button-full button-positive" ng-click="submit()">
        Submit
      </button>


        </ion-content>
      </ion-view>