 <ion-view view-title="Heath Meter">
        <ion-content class="padding">

        <h3> Welcome to Pragnya's Health Care!! </h3>
         <!--  <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p> -->

<p> Sugar Level </p>

 <button class="button button-assertive">
        30% at risk
      </button>
<br>

<p> Blood Pressure</p>
<button class="button button-balanced">
        Safe
      </button>

<p> Fat Accumulation </p>
<button class="button button-energized"> Moderate </button>

<p> Blood Cells Count </p>
<button class ="button button-calm"> 2,400 RBC </button>


<br>
<a class="button icon ion-home" href="#/tab/home"> Home</a>
</br>

        </ion-content>
      </ion-view>