 <ion-view view-title="Public">
        <ion-content class="padding">

        <h3> My Health Frequestly Asked Questions </h3>
         <!--  <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p> -->

<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search">
</label>
<br>
<p id=""> What is My Health?</p>
<p> My Health is the personalized heath application specially for the people aged from 40-60.

<p id=""> What is My Health?</p>
<p> My Health is the personalized heath application specially for the people aged from 40-60.
<br>
<br>
 
     
      <input value="" type="text" placeholder="Enter Your Question" ng-model="itemName">
     
      <br />
      <button class="button button-positive" ng-click="addItem(dateEnter,itemName)">Ask Question</button>
    </div>
  <div id="UncheckedList">
      <h4></h4>
      <table>
         <tr ng-repeat="item in items" class="item-unchecked">
            <td><b></b> {{item.date}} </td>
            <td><b>Questions:</b> {{item.name}} -</td>
            
            <td>
               <button ng-click="removeItem($index)">remove</button>
            </td>
          </tr>
      </table>



<br>
<a class="button icon ion-home" href="#/tab/home"> Home</a>

        </ion-content>
      </ion-view>